<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box">
        <h1>Todo List</h1>
    </div>

    <!-- Add new task -->
    <div class="box">
        <form action="/" method="POST" class="add-task-form">
            <input type="text" name="d1d1" placeholder="Enter the task">
            <button type="submit">+</button>
        </form>
    </div>

    <!-- Update/Delete tasks -->
    <div class="box">
        <form action="/action" method="POST">
            <% items.forEach(function(item) { %>
                <div class="todo-item">
                    <div class="task-row">
                        <input type="checkbox" name="item" value="<%= item.id %>">
                        <label><%= item.text %></label>
                    </div>
                    <div class="input-row">
                        <input type="text" name="updated_<%= item.id %>" placeholder="Update task...">
                    </div>
                </div>
            <% }); %>

            <div class="btn-row">
                <button type="submit" name="action" value="update">Update Selected</button>
            </div>
            <div class="btn-row">
                <button type="submit" name="action" value="delete">Delete Selected</button>
            </div>
        </form>
    </div>
</body>
</html>
